<h1 class="mt-4">Dashboard</h1>
<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="accountToSearch"
             placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button"
              (click)="getAccountBalance(accountToSearch)"><fa-icon icon="search"></fa-icon></button>
    </div>
  </div>
</div>





<div>
  {{result}}
</div>
