<h1 class="mt-4">Collections</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="newCollectionName"
                 placeholder="Name" aria-label="Name" aria-describedby="btnNavbarSearch"/>
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"
                  (click)="addNewCollection(newCollectionName)">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngFor="let userCollection of userCollections$ | async">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header"> {{ userCollection.name}}</div>
      <div class="card-body">
        <table class="table table-striped table-bordered"
               *ngIf="userCollection.addresses.length > 0">
          <thead>
          <tr>
            <th scope="col">Address</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let address of userCollection.addresses">
            <td>
              {{address}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
