<h2 class="page-title">Collections</h2>
<div class="row">
  <div class="col-md-12 my-4">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Add new collection</h5>
        <p class="card-text"></p>
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="newCollectionName" />
          <button class="btn btn-primary" type="button"
                  (click)="addNewCollection(newCollectionName)">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let userCollection of userCollections$ | async">
  <div class="col-md-12 my-4">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">{{ userCollection.name}}</h5>
        <p class="card-text"></p>
        <table class="table table-bordered table-hover mb-0"
               *ngIf="userCollection.addresses.length > 0">
          <thead>
          <tr>
            <th scope="col">Address</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let address of userCollection.addresses">
            <td>
              {{address}}
            </td>
            <td>
              <a [routerLink]="['/collection/', userCollection.id, 'address', address ]">
                <fa-icon icon="search"></fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
