@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.positive-change {
  color: $success;
}

.negative-change {
  color: $danger;
}

.token-logo-wrapper {
  margin-right: 15px;
}

.token-column {
  padding: 0;
}

@media (max-width: 767px) {
  .token-name {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 95px;
  }
}
