<div class="row" *ngIf="tokens && tokens.length > 0">
  <div class="col-md-12 my-4">
    <div class="card shadow">
      <div class="card-header">
        <strong class="card-title">{{title || 'Tokens'}}</strong>
        <app-token-grouping-toggle class="float-right"
                                   *ngIf="showGroupingToggle"></app-token-grouping-toggle>
      </div>
      <div class="card-body">

        <div class="list-group list-group-flush my-n3">
          <div class="list-group-item" *ngIf="!tokens">
            <div class="row align-items-center">
              <div class="col-3 col-md-2">
                <fa-icon icon="spinner" [spin]="true"></fa-icon>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let tokenBalance of tokens">
            <div class="list-group-item" *ngIf="getToken(tokenBalance.tokenId) | async as token">
              <div class="row align-items-center">
                <div class="token-column col-5 col-sm-6">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="token-logo-wrapper">
                        <app-token-logo [network]="tokenBalance.network"
                                        [tokenImage]="token.image"
                                        [tokenName]="token.name"
                                        [hideNetwork]="hideNetwork"></app-token-logo>
                      </div>
                      <div>
                        <div class="token-name">
                          <strong>{{token.name}}</strong>
                        </div>
                        <div class="my-0 text-muted small">${{token.usdValue | tokenUsdDecimals }}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="token-column col-3 col-sm-4 text-right">
                  <strong>{{tokenBalance.usdValue | currency:'USD':'$' }}</strong>
                  <div
                    class="my-0 text-muted small">{{tokenBalance.nativeValue | tokenAmountDecimals:token.usdValue }}</div>
                </div>
                <div class="token-column col-4 col-sm-2 text-right">

                  <div class="d-flex flex-row-reverse">
                    <div class="ml-1">
                      <ng-template #tipContent>
                        <div>
                          <span [class.positive-change]="token.priceChange30d > 0"
                                [class.negative-change]="token.priceChange30d < 0">{{token.priceChange30d | number:'1.1-1'}}&percnt;
                            (30d)</span>
                          <div class="my-0 small">
                    <span [class.positive-change]="token.priceChange200d > 0"
                          [class.negative-change]="token.priceChange200d < 0">{{token.priceChange200d | number:'1.1-1'}}&percnt;
                    (200d)</span>
                          </div>
                        </div>
                      </ng-template>
                      <fa-icon icon="info-circle" role="button"
                               [ngbTooltip]="tipContent"></fa-icon>
                    </div>
                    <div>
                      <strong [class.positive-change]="token.priceChange24h > 0"
                              [class.negative-change]="token.priceChange24h < 0">{{token.priceChange24h | number:'1.1-1'}}&percnt;
                        (24h)</strong>
                      <div class="my-0 small">
                    <span [class.positive-change]="token.priceChange7d > 0"
                          [class.negative-change]="token.priceChange7d < 0">{{token.priceChange7d | number:'1.1-1'}}&percnt;
                    (7d)</span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>
