<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title">Collections</h2>
  </div>
  <div class="col-auto">
    <ng-template #addCollectionContent let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="varyModalLabel">New collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name"
                   [(ngModel)]="newCollectionName" [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Close
        </button>
        <button type="button" class="btn mb-2 btn-primary" (click)="modal.close()" [disabled]="!newCollectionName">
          Save
        </button>
      </div>
    </ng-template>

    <button type="button" class="btn btn-primary" (click)="addNewCollection(addCollectionContent)">
      <fa-icon icon="plus"></fa-icon>
      Create
    </button>
  </div>
</div>

<div class="row" *ngFor="let userCollection of userCollections$ | async">
  <div class="col-md-12 my-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="toolbar">
          <div class="row">
            <div class="col-auto mr-auto">
              <h5 class="card-title">{{ userCollection.name}}</h5>
            </div>
            <div class="col-auto">
              <a [routerLink]="['/collection/', userCollection.id, 'detail' ]"
                 *ngIf="userCollection.addresses.length > 0">
                <button type="button" class="btn btn-secondary">
                  <fa-icon icon="wallet"></fa-icon>
                  Balance
                </button>
              </a>
            </div>
          </div>
        </div>
        <p class="card-text"></p>
        <table class="table table-ellipsis mb-0"
               *ngIf="userCollection.addresses.length > 0">
          <thead class="thead-dark">
          <tr>
            <th scope="col" class="w-100">Address</th>
            <th scope="col" class="action-column"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let address of userCollection.addresses">
            <td>
              <span>{{address}}</span>
            </td>
            <td>
              <a [routerLink]="['/collection/', userCollection.id, 'address', address ]">
                <button type="button" class="btn btn-secondary">
                  <fa-icon icon="wallet"></fa-icon>
                </button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
