# Datasource
export QUARKUS_DATASOURCE_USERNAME=
export QUARKUS_DATASOURCE_PASSWORD=
export QUARKUS_DATASOURCE_JDBC_URL=

# OIDC
export QUARKUS_OIDC_AUTH_SERVER_URL=
export QUARKUS_OIDC_CLIENT_ID=
export QUARKUS_OIDC_CREDENTIALS_SECRET=

# External API
export POLYGONSCAN_API_KEY=
export SNOWTRACE_API_KEY=

source_env_if_exists .envrc.private
