<div class="row" >
  <div class="col-md-12 my-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="toolbar">
          <div class="row">
            <div class="col-auto mr-auto">
              <h5 class="card-title">History</h5>
            </div>
            <div class="col-auto">
              <div class="btn-group" role="group">
                <button type="button" class="btn mb-2"
                        [class.btn-outline-primary]="(historicalChartRange$ | async) !== HistoricalChartRange.THREE_DAYS"
                        [class.btn-primary]="(historicalChartRange$ | async) === HistoricalChartRange.THREE_DAYS"
                        (click)="onRangeChange(HistoricalChartRange.THREE_DAYS)">3d
                </button>
                <button type="button" class="btn mb-2"
                        [class.btn-outline-primary]="(historicalChartRange$ | async) !== HistoricalChartRange.SEVEN_DAYS"
                        [class.btn-primary]="(historicalChartRange$ | async) === HistoricalChartRange.SEVEN_DAYS"
                        (click)="onRangeChange(HistoricalChartRange.SEVEN_DAYS)">7d
                </button>
                <button type="button" class="btn mb-2"
                        [class.btn-outline-primary]="(historicalChartRange$ | async) !== HistoricalChartRange.FOURTEEN_DAYS"
                        [class.btn-primary]="(historicalChartRange$ | async) === HistoricalChartRange.FOURTEEN_DAYS"
                        (click)="onRangeChange(HistoricalChartRange.FOURTEEN_DAYS)">14d
                </button>
                <button type="button" class="btn mb-2"
                        [class.btn-outline-primary]="(historicalChartRange$ | async) !== HistoricalChartRange.THIRTY_DAYS"
                        [class.btn-primary]="(historicalChartRange$ | async) === HistoricalChartRange.THIRTY_DAYS"
                        (click)="onRangeChange(HistoricalChartRange.THIRTY_DAYS)">30d
                </button>
                <button type="button" class="btn mb-2"
                        [class.btn-outline-primary]="(historicalChartRange$ | async) !== HistoricalChartRange.NINETY_DAYS"
                        [class.btn-primary]="(historicalChartRange$ | async) === HistoricalChartRange.NINETY_DAYS"
                        (click)="onRangeChange(HistoricalChartRange.NINETY_DAYS)">90d
                </button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text"></p>
        <div style="height: 150px" *ngIf="(lineChartData$ | async)!.datasets.length > 0; else nodata">
          <canvas baseChart
                  [data]="(lineChartData$ | async)!"
                  [options]="lineChartOptions"
                  [type]="'line'">
          </canvas>
        </div>
        <ng-template #nodata>No data available</ng-template>
      </div>
    </div>
  </div>
</div>



