<div class="row" *ngIf="pieChartData && pieChartData?.datasets!.length > 0">
  <div class="col-md-6 my-2">
    <div class="card shadow">
      <div class="card-body">
        <div class="toolbar">
          <div class="row">
            <div class="col-auto mr-auto">
              <h5 class="card-title">Balance by token</h5>
            </div>
          </div>
        </div>
        <p class="card-text"></p>
        <div style="height: 150px">
          <canvas baseChart
                  [data]="pieChartData"
                  [options]="pieChartOptions"
                  [type]="'pie'">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 my-2">
    <div class="card shadow">
      <div class="card-body">
        <div class="toolbar">
          <div class="row">
            <div class="col-auto mr-auto">
              <h5 class="card-title">-</h5>
            </div>
          </div>
        </div>
        <p class="card-text"></p>

      </div>
    </div>
  </div>
</div>
