<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title address"><a routerLink="/collections">Collections</a>
      &sol; {{(userCollection$ | async)?.name}}</h2>
  </div>
  <div class="col-auto">
    <div class="col-auto">
      <app-token-grouping-toggle></app-token-grouping-toggle>
    </div>
  </div>
</div>

<app-token-balance-overview [tokens]="aggregatedTokenBalances!"></app-token-balance-overview>

<app-user-collection-historical-balance [collectionId]="id"
                                        [currentUsdValue]="collectionUsdValue"></app-user-collection-historical-balance>

<app-token-balance-charts [tokens]="aggregatedTokenBalances!"></app-token-balance-charts>

<app-token-balance [tokens]="aggregatedTokenBalances!"></app-token-balance>
