<div class="row" *ngIf="addressBalance">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">Token list

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add to collection</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <select name="selectedUserCollection" [(ngModel)]="selectedUserCollectionId">
                    <option *ngFor="let userCollections of userCollections$ | async"
                            [ngValue]="userCollections.id">
                      {{ userCollections.name }}
                    </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()" [disabled]="!selectedUserCollectionId">
              Save
            </button>
          </div>
        </ng-template>
        <fa-icon [icon]="['far', 'star']" class="fa-pull-right" role="button"
                 (click)="open(content)" *ngIf="(userCollections$ | async)?.length || 0 > 0"></fa-icon>
      </div>
      <div class="card-body">
        <div>

        </div>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">Network</th>
            <th scope="col">Token name</th>
            <th scope="col">Native value</th>
            <th scope="col">USD value</th>
            <th scope="col">Allocation</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tokenBalance of addressBalance.tokenBalances">
            <td>
              <app-network-logo [network]="tokenBalance.network"></app-network-logo>
            </td>
            <td>{{tokenBalance.name}}</td>
            <td class="text-end">{{tokenBalance.nativeValue}} {{tokenBalance.symbol}}</td>
            <td class="text-end">{{tokenBalance.usdValue | number:'1.2-2' }} $</td>
            <td>{{tokenBalance.allocation}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
