<div *ngIf="isGroupTokenTable$ | async">
  <app-token-balance-table [title]="'Liquid'" [tokens]="liquidTokens!"></app-token-balance-table>

  <app-token-balance-table [title]="'Stacked'" [tokens]="stackedTokens!"></app-token-balance-table>

  <app-token-balance-table [title]="'Unclaimed rewards'" [tokens]="rewardsTokens!"></app-token-balance-table>
</div>

<div *ngIf="!(isGroupTokenTable$ | async)">
  <app-token-balance-table [title]="'Grouped tokens'" [tokens]="groupedTokens!" [hideNetwork]="true"></app-token-balance-table>
</div>
