<h1 class="mt-4">Dashboard</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="accountToSearch"
                 placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"
                  (click)="getAccountBalance(accountToSearch)">
            <fa-icon icon="search" *ngIf="!searchRunning"></fa-icon>
            <fa-icon icon="spinner" *ngIf="searchRunning" [spin]="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="addressBalance">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">{{totalBalance | number:'1.2-2'}} USD</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class="small text-white">Total</span>
        <div class="small text-white">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-success text-white mb-4">
      <div class="card-body">{{liquidBalance | number:'1.2-2'}} USD</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class="small text-white">Liquid</span>
        <div class="small text-white">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-body">{{stackedBalance | number:'1.2-2'}} USD</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class="small text-white">Stacked</span>
        <div class="small text-white">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-warning text-white mb-4">
      <div class="card-body">{{unclaimedRewardsBalance | number:'1.2-2'}} USD</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <span class="small text-white">Unclaimed rewards</span>
        <div class="small text-white">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="addressBalance">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">Token list

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add to collection</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <select name="selectedUserCollection" [(ngModel)]="selectedUserCollectionId">
                    <option *ngFor="let userCollections of userCollections$ | async"
                            [ngValue]="userCollections.id">
                      {{ userCollections.name }}
                    </option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()" [disabled]="!selectedUserCollectionId">
              Save
            </button>
          </div>
        </ng-template>
        <fa-icon [icon]="['far', 'star']" class="fa-pull-right" role="button"
                 (click)="open(content)" *ngIf="(userCollections$ | async)?.length || 0 > 0"></fa-icon>
      </div>
      <div class="card-body">
        <div>

        </div>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">Network</th>
            <th scope="col">Token name</th>
            <th scope="col">Native value</th>
            <th scope="col">USD value</th>
            <th scope="col">Allocation</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tokenBalance of addressBalance.tokenBalances">
            <td>
              <app-network-logo [network]="tokenBalance.network"></app-network-logo>
            </td>
            <td>{{tokenBalance.name}}</td>
            <td class="text-end">{{tokenBalance.nativeValue}} {{tokenBalance.symbol}}</td>
            <td class="text-end">{{tokenBalance.usdValue | number:'1.2-2' }} $</td>
            <td>{{tokenBalance.allocation}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


