<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" (click)="doLogin()" role="button">
          <div class="sb-nav-link-icon">
            <fa-icon icon="user-alt"></fa-icon>
          </div>
          Login
        </a>
        <a class="nav-link" routerLink="/dashboard">
          <div class="sb-nav-link-icon">
            <fa-icon icon="tachometer-alt"></fa-icon>
          </div>
          Dashboard
        </a>
        <a class="nav-link" routerLink="/collections">
          <div class="sb-nav-link-icon">
            <fa-icon icon="layer-group"></fa-icon>
          </div>
          Collections
        </a>
      </div>
    </div>
  </nav>
</div>
