<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title address-with-address"><a routerLink="/collections">Collections</a> &sol; {{address}}
    </h2>
  </div>
  <div class="col-auto">
    <div class="col-auto">
      <app-token-grouping-toggle></app-token-grouping-toggle>
    </div>
  </div>
</div>

<app-token-balance-overview [tokens]="addressBalance!"></app-token-balance-overview>

<app-address-historical-balance [address]="address"
                                [currentUsdValue]="currentUsdValue"></app-address-historical-balance>

<app-token-balance-charts [tokens]="addressBalance!"></app-token-balance-charts>

<app-token-balance [tokens]="addressBalance!"></app-token-balance>
