<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title address-with-address"><a routerLink="/collections">Collections</a> &sol; {{address}}
    </h2>
  </div>
</div>

<div class="row" *ngIf="error; else noError">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="alert alert-warning" role="alert">
          <fa-icon icon="exclamation-triangle"></fa-icon>
          Failed to load balance: {{error}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noError>
  <app-token-balance-overview [tokens]="addressBalance!"></app-token-balance-overview>

  <app-address-historical-balance [address]="address"
                                  [currentUsdValue]="currentUsdValue"></app-address-historical-balance>

  <app-token-balance-charts [tokens]="addressBalance!"></app-token-balance-charts>

  <app-token-balance [tokens]="addressBalance!"></app-token-balance>
</ng-template>


