<h1 class="mt-4">Search</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="accountToSearch"
                 placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"
                  (click)="getAccountBalance(accountToSearch)">
            <fa-icon icon="search" *ngIf="!searchRunning"></fa-icon>
            <fa-icon icon="spinner" *ngIf="searchRunning" [spin]="true"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-address-balance-overview [addressBalance]="addressBalance!"></app-address-balance-overview>

<app-address-balance-table [addressBalance]="addressBalance!"
                           [address]="accountToSearch"></app-address-balance-table>
