# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: '1.0.0'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.5.1
      with:
        node-version: '17.x'
    - name: Install NPM
      run: npm ci
      working-directory: src/main/webapp/
  set-version:
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
    - name: Change NPM version
      uses: reedyuk/npm-version@1.1.1
      with:
        version: '${{ github.event.inputs.version }}'
        package: ./src/main/webapp/
        git-tag-version: false
    - name: Change Maven version
      run: versions:set -DnewVersion={{ github.event.inputs.version }}-SNAPSHOT
  build:
    runs-on: ubuntu-latest
    needs:
      - set-version
    steps:
    - name: Build with NPM
      run: npm run build
      working-directory: src/main/webapp/
    - name: Build with Maven
      run: mvn -B package --file pom.xml -Pnative -Dquarkus.native.container-build=true
  publish:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
      - name: Dockerize
        run: docker build -f src/main/docker/Dockerfile.native -t quarkus/crypto-wallet-scout:{{ github.event.inputs.version }} .
      - name: Publish
        run: docker push sito/crypto-wallet-scout:{{ github.event.inputs.version }}
  commit-and-push:
    runs-on: ubuntu-latest
    needs:
      - publish
    steps:
      - uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions