# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: '1.0.0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.5.1
      with:
        node-version: '17.x'
    - name: Install NPM
      run: npm ci
      working-directory: src/main/webapp/
    - name: Change NPM version
      run: 'npm version ${{ github.event.inputs.version }}'
      working-directory: src/main/webapp/
    - name: Change Maven version
      run: 'mvn versions:set -DnewVersion=${{ github.event.inputs.version }}-SNAPSHOT'
    - name: Build with NPM
      run: npm run build
      working-directory: src/main/webapp/
    - name: Build with Maven
      run: mvn -B package --file pom.xml -Pnative -Dquarkus.native.container-build=true
    - name: Docker login
      run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
    - name: Dockerize
      run: 'docker build -f src/main/docker/Dockerfile.native -t sito/crypto-wallet-scout:${{ github.event.inputs.version }} .'
    - name: Publish to Docker Hub
      run: 'docker push sito/crypto-wallet-scout:${{ github.event.inputs.version }}'
    - uses: EndBug/add-and-commit@v7
      name: Commit the changes
      with:
        default_author: github_actions
        message: 'Release ${{ github.event.inputs.version }}'
    - name: Create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.inputs.version }}
        release_name: Release ${{ github.event.inputs.version }}
        draft: false
        prerelease: true